<!DOCTYPE html>
<html>
<head>
<title>Support Ticket System</title>
</head>

<body>

<h1>Support Ticket System</h1>

<a href="/create-ticket">
<button>Create Ticket</button>
</a>

<br><br>

<a href="/track-ticket">
<button>Track Ticket</button>
</a>


</body>
</html>