<h1>Select Role</h1>

<p>Please choose how you want to enter the system.</p>

<br>

<a href="/index">
<button>User Portal</button>
</a>

<br><br>

<a href="/manage-ticket">
<button>Staff Portal</button>
</a>
