<h1>Track Ticket</h1>

<form action="track-ticket" method="POST">

<label>Ticket ID</label><br>
<input type="number" name="ticketId" required><br><br>

<label>Email</label><br>
<input type="email" name="email" required><br><br>

<button type="submit">Track Ticket</button>

</form>